{% extends 'base.html' %}

{% load query_transform %}

{% block content %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 25%">
                    <a href="?{% sort_query request 'sort-user1' %}">
                        User 1
                        {% get_param request 'sort-user1' as sort_param %}
                        {% include 'includes/sort_icon.html' %}
                    </a>
                </th>
                <th style="width: 25%">
                    <a href="?{% sort_query request 'sort-user2' %}">
                        User 2
                        {% get_param request 'sort-user2' as sort_param %}
                        {% include 'includes/sort_icon.html' %}
                    </a>
                </th>
                <th style="width: 15%">
                    <a href="?{% sort_query request 'sort-confirmation' %}">
                        Confirmation
                        {% get_param request 'sort-confirmation' as sort_param %}
                        {% include 'includes/sort_icon.html' %}
                    </a>
                </th>
                <th style="width: 35%">
                    <a href="?{% sort_query request 'sort-date' %}">
                        Confirmation Date & Time
                        {% get_param request 'sort-date' as sort_param %}
                        {% include 'includes/sort_icon.html' %}
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
                <tr>
                    <td><a href="{% url 'user-trades' trade.user1.username %}">{{ trade.user1.username }}</a></td>
                    <td><a href="{% url 'user-trades' trade.user2.username %}">{{ trade.user2.username }}</a></td>
                    <td><a href="{{ trade.comment_url }}">{{ trade.comment_id }}</a></td>
                    <td>{{ trade.confirmation_datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'includes/pagination.html' %}
{% endblock %}