{% extends 'base.html' %}

{% block content %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>First User</th>
                <th>Second User</th>
                <th>Comment ID</th>
            </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
                <tr>
                    <td>
                        <a href="https://reddit.com/user/{{ trade.user1 }}">{{ trade.user1 }}</a>
                    </td>
                    <td>
                    <a href="https://reddit.com/user/{{ trade.user2 }}">{{ trade.user2 }}</a>
                    </td>
                    <td>
                        <a href="{{ trade.get_comment_url }}">{{ trade.comment_id }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'includes/pagination.html' %}
{% endblock %}