{% extends 'base.html' %}

{% load query_transform %}

{% load static %}

{% block content %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 80%">
                    <a href="?{% sort_query request 'sort-user' True %}">
                        User
                        {% get_param request 'sort-user' as param %}
                        {% get_param request 'sort-trades' as sort_trades %}
                        {% if not sort_trades %}
                            {% if param == 'asc' or not param %}
                                <img src="{% static 'img/chevron-up.svg' %}">
                            {% else %}
                                <img src="{% static 'img/chevron-down.svg' %}">
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th style="width: 20%">
                    <a href="?{% sort_query request 'sort-trades' True %}">
                        Trades
                        {% get_param request 'sort-trades' as param %}
                        {% if param %}
                            {% if param == 'asc' %}
                                <img src="{% static 'img/chevron-up.svg' %}">
                            {% else %}
                                <img src="{% static 'img/chevron-down.svg' %}">
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for redditor in redditors %}
                <tr>
                    <td>
                        <a href="{% url 'trades' redditor.username %}">{{ redditor.username }}</a>
                    </td>
                    <td>
                        {{ redditor.trades1.count }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'includes/pagination.html' %}
{% endblock %}