{% extends 'base.html' %}

{% load query_transform %}

{% block content %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 80%">
                    <a href="?{% sort_query request 'sort-user' True %}">User</a>
                </th>
                <th style="width: 20%">
                    <a href="?{% sort_query request 'sort-trades' True %}">Trades</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for redditor in redditors %}
                <tr>
                    <td>
                        <a href="{% url 'trades' redditor.username %}">{{ redditor.username }}</a>
                    </td>
                    <td>
                        {{ redditor.trades1.count }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'includes/pagination.html' %}
{% endblock %}