{% extends 'base.html' %}

{% block content %}
    <h2>Trades for {{ redditor }}</h2>
    
    <div class="row">
        {% for trade in trades %}
            <div class="col-md-4 h-100 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ trade.user2 }}</h5>
                        <p class="card-text">{{ trade.comment_id }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}