{% extends 'base.html' %}

{% block content %}
    <h2>Trades for {{ redditor }}</h2>
    
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Info</h5>
            <div class="card-text">
                <ul>
                    <li><a href="https://reddit.com/user/{{ redditor }}">Reddit Profile</a></li>
                    <li>{{ trades.count }} trade{{ trades.count|pluralize }} confirmed</li>
                <ul>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Confirmation</th>
                <th>Confirmation Date Time</th>
            </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
                <tr>
                    <td><a href="{% url 'trades' trade.user2 %}">{{ trade.user2 }}</a></td>
                    <td><a href="{{ trade.comment_url }}">{{ trade.comment_id }}</a></td>
                    <td>{{ trade.confirmation_datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}