{% extends 'base.html' %}

{% load query_transform %}

{% load static %}

{% block content %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 80%">
                    <a href="?{% sort_query request 'sort-user' %}">
                        User
                        {% get_param request 'sort-user' as sort_param %}
                        {% include 'includes/sort_icon.html' %}
                    </a>
                </th>
                <th style="width: 20%">
                    <a href="?{% sort_query request 'sort-trades' %}">
                        Trades
                        {% get_param request 'sort-trades' as sort_param %}
                        {% include 'includes/sort_icon.html' %}
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for redditor in redditors %}
                <tr>
                    <td>
                        <a href="{% url 'user-trades' redditor.username %}">{{ redditor.username }}</a>
                    </td>
                    <td>
                        {{ redditor.trades1.count }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'includes/pagination.html' %}
{% endblock %}