{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Confirmed Trades{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        {% block stylesheet %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">Confirmed Trades</a>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        {% url 'update' as update_url %}
                        <li class="nav-item {% if request.path == update_url %}active{% endif %}">
                            <a class="nav-link" href="{{ update_url }}">Update</a>
                        </li>
                    </ul>
                </div>

                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                    <input class="form-control" name="q" type="text" placeholder="Search user" 
                           value="{% if 'q' in request.GET %}{{ request.GET.q }}{% endif %}">
                </form>
            </div>
        </nav>

        <div class="container mt-4">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>